
<nav class="nav ">
    <div class="container">
        <!-- <div id="mainListDiv" class="main_list"> -->
        <ul class="nav nav-fill">
            <li class="nav-items"><a class="nav-link active text" data-toggle="tab" routerLink="/viewbidbybidder">View Bids</a>
            </li>
            <li class="nav-items"><a class="nav-link text  " data-toggle="tab" routerLink="/viewlands">View Lands</a> </li>

        </ul>

    </div>
    <li class="nav-item justify-content-end">
        <a class="nav-link active text" routerLink="/login">Sign Out</a>
    </li>

</nav>



<div class="container">
    <br />
    <h1 class="text-center text-muted"> Bidder Page</h1>
    <br />
    <br />
    <br />
    <!-- <div class=" text-center ">
        <button type="button" (click)="viewbids()" class="btn btn-info" routerLink="/bidsview"
            routerLinkActive="active">View Bids</button>
    </div>
    <br />

    <div class=" text-center ">
        <button class="btn btn-info" routerLink="/viewlands" routerLinkActive="active">View Lands
        </button>
    </div> -->

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Bid ID</th>

                    <th> Survey Number </th>

                    <th>Bid Value</th>
                    <th>Bidder ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">2</a></td>
                    <td>3</td>
                    <td>4</td>

                </tr>
                <tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td><a href="#">2</a></td>
                    <td>3</td>
                    <td>4</td>

                </tr>

            </tbody>
        </table>
    </div>
