<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/bidsview">View Bids</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/biddingpage">Add Bids</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/viewlands">View Lands</a>
            </li>

        </ul>

    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/login">Sign Out</a>
        </li>

    </ul>
</nav>


<div class="container">
    <br />
    <h1 class="text-center text-muted"> Bidder Page</h1>
    <br />
    <br />
    <br />
    <!-- <div class=" text-center ">
        <button type="button" (click)="viewbids()" class="btn btn-info" routerLink="/bidsview"
            routerLinkActive="active">View Bids</button>
    </div>
    <br />

    <div class=" text-center ">
        <button class="btn btn-info" routerLink="/viewlands" routerLinkActive="active">View Lands
        </button>
    </div> -->

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Bid ID</th>

                    <th> Survey Number </th>

                    <th>Bid Value</th>
                    <th>Bidder ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">2</a></td>
                    <td>3</td>
                    <td>4</td>

                </tr>
                <tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td><a href="#">2</a></td>
                    <td>3</td>
                    <td>4</td>

                </tr>

            </tbody>
        </table>
    </div>