<!-- <h1 align="center"></h1>


<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Add Bid</h5>
                        <form #bidForm="ngForm" (ngSubmit)="addBid()">
                            <div class="form-label-group">
                                Enter Land Survey Number :<input type="text" class="form-control"
                                    placeholder="SurveyNumber" name="SurveyNumber" required>
                            </div>

                            <div class="form-label-group">
                                Enter Bidder Id :<input type="text" class="form-control" placeholder="bidderId"
                                    name="BidderId " required>
                            </div>

                            <div class="form-label-group">
                                Enter Bid Value :<input type="text" class="form-control" placeholder="Value"
                                    name="Value " required>
                            </div>
                            <br />
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register
                                Bid</button>
                        </form>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</body> -->