<h1 align="center"></h1>

<body>
 
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            
            <form class="form-signin" #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm.value)" novalidate>
              <div class="form-label-group">
                
                <input type="text" placeholder="LoginId" class="form-control" name="loginId" #loginId="ngModel" ngModel
                  required minlength="4" />
              </div>

              <div class="form-label-group">
                <input type="password" class="form-control" placeholder="password" name="password"
                  #password="ngModel" ngModel required minlength="4">
              </div>

              <br />

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!loginForm.valid">Sign in</button>
              
            </form>
          <div *ngIf="loginId.errors?.required">enter login id</div>
          <div *ngIf="password.errors?.required">enter password</div>
          <br/>
          <div *ngIf="loginId.errors?.minlength">enter min 6 characters</div>
          <div *ngIf="password.errors?.minlength">enter min 6 characters</div>
          
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 mx-auto">
      <button class=" btn btn-lg btn-primary btn-block text-uppercase" type="submit" routerLink="/register"
        routerLinkActive="active">Register</button>
    </div>
  </div>
</body>