<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Behest</a>

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-auto float-right">

            <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Contact Us</button>
        </form>
    </div>
</nav>
<h1 align='center'>
</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<br />
<br />
<div class="container">
    <table class="table table-border table-striped table-hover">

        <thead class="bg-info">

            <tr>
                <td>SurveyNo</td>
                <td>Location</td>
                <td>Area</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1245</td>
                <td>hyderabad</td>
                <td>12.5acres</td>
                <td>500000</td>
            </tr>
        </tbody>
    </table>
</div>