<h1 align="center">Lands</h1>
<br/>
<br/>
    <div class="container">
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Survey Number </th>
                    <th>Land-Area(acres)</th>
                    <th>Location</th>
                    <th>Price</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let land of lands">
                    <td>{{land.surveyNumber}}</td>
                    <td>{{land.area}}</td>
                    <td>{{land.location}}</td>
                    <td>{{land.price}}</td>
                    <td> <button class="btn btn-info" routerLink="/biddingpage" routerLinkActive="active">Edit</button></td>
                    <td> <button class="btn btn-info" routerLink="/biddingpage" routerLinkActive="active">Delete</button></td>
                </tr>
                <tr>    
                </tbody>
                </table>            
    </div>
