<nav class="nav ">
    <div class="container">

        <ul class="nav nav-fill">
            <li class="nav-items"><a class="nav-link active text" routerLink="/viewlandbyfarmer">View Lands</a></li>
            <li class="nav-items"><a class="nav-link text  " routerLink="/addland">Add Lands</a></li>
            <li class="nav-items"><a class="nav-link   text" routerLink="/viewbids">View Bids</a></li>
        </ul>
    </div>
    <li class="nav-item justify-content-end">
        <a class="nav-link active text" routerLink="/login">Sign Out</a>
    </li>
</nav>


<h1 align="center">Bids</h1>
<br />
<br />
<div class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>SurveyNumber</th>
                <th>BidderId</th>
                <th>BidValue</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let bid of bids">
                <td>{{bid.surveyNumber}}</td>
                <td>{{bid.bidderId}}</td>
                <td>{{bid.bidValue}}</td>
            </tr>

        </tbody>
    </table>
</div>