<div class="container">
    <br />
    <h1 class="text-center text-muted">Farmer's Page</h1>
    <br />
    <br />
    <br />
    <div class=" text-center ">
        <button type="button" class="btn btn-info" routerLink="/bidsview" routerLinkActive="active">View Bids</button>
    </div>
    <br />

    <div class=" text-center ">

        <button class="btn btn-info" routerLink="/viewlandsforFarmer" routerLinkActive="active">View Lands </button>
    </div>
    <br />
    <div class=" text-center ">

        <button class="btn btn-info" routerLink="/addland" routerLinkActive="active">Add Land</button>
    </div>

    <!-- <div *ngIf="land ">

    </div> -->