
<h1 align="center">Lands</h1>
<br />
<br />
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Survey Number </th>
                    <th>Land-Area(acres)</th>
                    <th>Price</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td> <button class="btn btn-info" routerLink="/biddingpage" routerLinkActive="active">Bid</button>
                    </td>
                </tr>
                <tr>

                    <td><a href="#">2</a></td>
                    <td>3</td>
                    <td>4</td>
                    <td>3</td>
                    <td><button class="btn btn-info" routerLink="/biddingpage" routerLinkActive="active">Bid</button>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
