<h1 align="center"></h1>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Register Land </h5>
                        <form class="form-bid" #BidForm="ngForm" novalidate>
                            <div class="form-label-group">
                                Enter Base price :<input type="number" class="form-control" placeholder="bidValue"
                                    required autofocus>
                            </div>
                            <div class="form-label-group">
                                Enter Land Survey Number :<input type="number" class="form-control"
                                    placeholder="surveyNo" required>
                            </div>
                            <div class="form-label-group">
                                Enter Farmer Id :<input type="number" class="form-control" placeholder="farmerId"
                                    required>
                            </div>

                            <br />
                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Register</button>
                        </form>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</body>