

<h1 align = 'center'></h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <br/>
    <br/>   
<div class="container">
        <table class="table table-border table-striped table-hover"  >
            
<thead class="bg-info">
        
    <tr >
        <td>SurveyNo</td>
        <td>Location</td>
        <td>Area</td>
        <td>Price</td>
    </tr>
</thead>
<tbody>
     <tr >
         <td>1245</td>
         <td>hyderabad</td>
         <td>12.5acres</td>
         <td>500000</td>
    </tr>
</tbody>
</table>
</div>
