<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/viewbids">View Bids</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/viewlandbyfarmer">View All Lands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addland">Add Land</a>
            </li>

        </ul>

    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/login">Sign Out</a>
        </li>

    </ul>
</nav>


<div class="container">
    <br />
    <h1 class="text-center text-muted">Farmer's Page</h1>
    <br />
    <br />
    <br />
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Survey Number </th>
                    <th>Area</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">2</a></td>
                    <td>300</td>
                    <td>4231 </td>
                </tr>
                <tr>
                <tr>
                    <td><a href="#">2</a></td>
                    <td>355</td>
                    <td>13244</td>
                </tr>
            </tbody>
        </table>
    </div>