.text{

    color: black;
}
 
.container
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    height: 480px;
    padding:20px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0, 0.5);
}

h5
{
margin: 0 px;
padding:0  0 0px;
color:#1E90FF;
text-align: center;
}
.container p
{
    padding:0;
    margin:0;
    font-weight: bold;
    color:#fff;
}
.container input
{
    width:100%;
    margin-bottom:  10px;
}
.container input[type="text"],.container input[type="password"],.container input[type="number"]
{
    border:none;
    border-bottom:  1px solid #fff;
    background: transparent;
    outline:none;
    font-weight: bold;
    height:40px;
    color:#fff;
    font-size:  16px;

}

.container button
{
   border:none;
   position: center;
   outline:none;
   height:40px;
   color:#fff;
   font-size: 16px;
   background: rgb(10, 54, 248);
   cursor: pointer
   border-radius 20px;
}
.container input[type="submit"]
{
    border:none;
    outline:none;
    position: center;
    height:40px;
    color:#fff;
    font-size: 16px;
    background: rgb(38, 255, 244);
    cursor: pointer
   border-radius 20px;
}
.container input[type="submit"]:hover
{
   background: #efed40;
   color:#262626;
}
::placeholder{
   color: rgba(255,255,255,0.5);
}  