<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/intropage" routerLinkActive="active">Behest</a>


  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto float-right">

      <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Contact Us</button>
    </form>
  </div>
</nav>