<h1 align="center">Bid page</h1>
<br />
<br />
<div class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>BidId </th>
                <th>SurveyNumber</th>
                <th>BidderId</th>
                <th>BidValue</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bid of bids">
                <td>{{bid.bidId}}</td>
                <td>{{bid.surveyNumber}}</td>
                <td>{{bid.bidderId}}</td>
                <td>{{bid.bidValue}}</td>
                <td> <button class="btn btn-info" routerLink="/addbid">Bid</button></td>
            </tr>
            <tr>
        </tbody>
    </table>
</div>