<nav class="nav ">
    <div class="container">
        <!-- <div id="mainListDiv" class="main_list"> -->
        <ul class="nav nav-fill">
            <li class="nav-items"><a class="nav-link active text" data-toggle="tab" href="#viewlands">View Lands</a>
            </li>
            <li class="nav-items"><a class="nav-link text  " data-toggle="tab" href="#addlands">Add Lands</a> </li>
            <li class="nav-items"><a class="nav-link   text" data-toggle="tab" href="#viewbids">View Bids</a> </li>

        </ul>

    </div>
    <li class="nav-item justify-content-end">
        <a class="nav-link active text" routerLink="/login">Sign Out</a>
    </li>

</nav>

<div class="container">
    <br />
    <h1 class="text-center text-muted">Farmer's Page</h1>
    <br />
    <br />
    <div class="tab-content">

        <div id="viewlands" class="tab-pane fade in active show">

            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Survey Number </th>
                            <th>Area</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">2</a></td>
                            <td>300</td>
                            <td>4231 </td>
                        </tr>
                        <tr>
                        <tr>
                            <td><a href="#">2</a></td>
                            <td>355</td>
                            <td>13244</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div id="addlands" class="tab-pane fade">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center">Register Land </h5>
                                <form class="form-bid" #BidForm="ngForm" novalidate>
                                    <div class="form-label-group">
                                        Enter Base price :<input type="number" class="form-control"
                                            placeholder="bidValue" required autofocus>
                                    </div>
                                    <div class="form-label-group">
                                        Enter Land Survey Number :<input type="number" class="form-control"
                                            placeholder="surveyNo" required>
                                    </div>
                                    <div class="form-label-group">
                                        Enter Farmer Id :<input type="number" class="form-control"
                                            placeholder="farmerId" required>
                                    </div>

                                    <br />
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                        type="submit">Register</button>
                                </form>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <div id="viewbids" class="tab-pane fade">
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Bid ID</th>

                            <th> Survey Number </th>

                            <th>Bid Value</th>
                            <th>Bidder ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="#">2</a></td>
                            <td>3</td>
                            <td>4</td>

                        </tr>
                        <tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td><a href="#">2</a></td>
                            <td>3</td>
                            <td>4</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>