<br />
<h1 align="center">Lands</h1>
<br />
<br />

<body>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Survey Number </th>

                    <th>Land Area</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                <tr>
                    <td><a href="#">2</a></td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>